*{
    font-style: normal;
    overflow-y: hidden !important;
    overflow-x: hidden !important;   
}

.background-content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/home.jpg) !important;
    background-size: cover !important;
    z-index: -1;
}
.transparent{
    background: transparent !important;
}
.card-title{
    color: black;
}
.background-card{
    display: flex;
    flex-flow: column;
    margin-top:2rem;
    background: white;
}
.ion-item-background{
    background: transparent;    
}